---
import Section from '@/components/Section.astro'

import { work } from '@cv'
---

<Section title="Experience">
    <ul>
        {work.map(({name, position, url, startDate, endDate, summary, highlights}) => {
            const startYear = new Date(startDate).getFullYear()
            const endYear = endDate != null ? new Date(endDate).getFullYear() : "Presente"
            const years = `${startYear} - ${endYear}`
            const newSummary = summary.split("\n");
            const intro = newSummary.shift();
            return (
                <li>
                    <article>
                        <header>
                            <div>
                                <h3><a href={url} target="_blank">{name}</a> </h3>
                                <h4>{position}</h4>
                            </div>
                            <time>{years}</time>
                        </header>

                        <footer>
                            <br>
                            <b><p>{intro}</p></b>
                            <br>
                            <div class="summary">
                                {newSummary.map((sentence) => (
                                    <p>{sentence}</p>
                                    <br>
                                ))}
                            </div>
                            <ul class="highlights">
                                {
                                    highlights.map((skill) => (
                                        <li class="skill">
                                            <span>{skill}</span>
                                        </li>
                                    ))
                                }
                            </ul>
                        </footer>
                    </article>
                </li>
        )})}
    </ul>
    <div class="border"></div>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    article {
        border-top: 1px solid #838383;
    }
    

    article h3 {
        font-weight: 500;
        color: #999;
    }

    article h4 {
        color: #acacac;
        font-weight: 400;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    time {
        color: #747373;
        font-size: 0.85rem;
    }

    .summary {
        padding-left: 25px;
    }

    .highlights {
        flex-direction: row;
        display: inline-flex;
        gap: 13px;
        flex-wrap: wrap;
    }

    .skill {
        border-radius: 6px;
        background: #1f1f1f;
        color: #c8c8c8;
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
    }

    .border {
        margin-top: 13px;
        border-top: 1px solid #838383;
    }
</style>